<div class="tour-card-list-container" #intersectingTourContainer>
  <div class="tour-card-wrrapper" #firstDropAnimation>
    <div class="icon-wrrapper">
      <span class="icon-map"></span>
    </div>
    <p class="tour__card__heading">Tour and Travel</p>
    <p class="tour__details">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, sequi.
    </p>
    <button class="learn__more__btn">
      Learn more <span class="icon-right-arrow"></span>
    </button>
  </div>
  <div class="tour-card-wrrapper" #secondDropAnimation>
    <div class="icon-wrrapper">
      <span class="icon-tent"></span>
    </div>
    <p class="tour__card__heading">Camping</p>
    <p class="tour__details">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, sequi.
    </p>
    <button class="learn__more__btn">
      Learn more <span class="icon-right-arrow"></span>
    </button>
  </div>
  <div class="tour-card-wrrapper bg-yellow" #thirdDropAnimation>
    <div class="icon-wrrapper bg-white">
      <span class="icon-compass"></span>
    </div>
    <p class="tour__card__heading">Adventure tour</p>
    <p class="tour__details">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, sequi.
    </p>
    <button class="learn__more__btn">
      Learn more <span class="icon-right-arrow"></span>
    </button>
  </div>
  <div class="tour-card-wrrapper" #fourthDropAnimation>
    <div class="icon-wrrapper">
      <span class="icon-backpack"></span>
    </div>
    <p class="tour__card__heading">Outbound activity</p>
    <p class="tour__details">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, sequi.
    </p>
    <button class="learn__more__btn">
      Learn more <span class="icon-right-arrow"></span>
    </button>
  </div>
</div>
