<div class="popular-tour-container">
  <div class="img-wrrapper">
    <img src="/assets/images/new-destination-card/mountains-city.jpg" alt="1" />
  </div>
  <div class="tour-details">
    <p class="tour__heading">Sierra Nevada Tour</p>
    <p class="tour__paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum iste
      neque earum.
    </p>
    <button class="book__tour__btn">Book Now</button>
    <ul class="bottom-tour-details">
      <li>California</li>
      <li>5 days</li>
      <li>September 30,2021</li>
    </ul>
  </div>

</div>
