<div class="about-us-container" #intersectionAboustUs>
  <div class="about-us-wrrapper" #aboutUsWrrapper1>
    <div class="about-us-details">
      <div class="heading-wrrapper">
        <h6>About us</h6>
      </div>
      <div class="heading-wrrapper">
        <h1>Travel the world one place at time</h1>
      </div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro iste
        atque adipisci voluptatem. Asperiores ipsam ab veniam tempore officiis
        possimus.
      </p>
      <div class="travel-counter-card-wrrapper">
        <div class="counter-card">
          <span class="icon-store"></span>
          <div class="counter-wrrapper">
            <p class="counter">{{ outletCounter }}</p>
            <p class="counter__text">outlet</p>
          </div>
        </div>
        <div class="counter-card">
          <span class="icon-globe"></span>
          <div class="counter-wrrapper">
            <p class="counter">{{ countriesCounter }}</p>
            <p class="counter__text">countries</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us-wrrapper" #aboutUsWrrapper2>
    <div class="img-wrrapper" #imgWrrapper>
      <img src="/assets/images/about-us-card/img1.jpg" alt="mountains.jpg" />
    </div>
  </div>
</div>
