/* You can add global styles to this file, and also import other style files */
html,body{
  margin: 0;
  padding: 0;
  font-family: "Monserrat";
}

:root{
  --main-green:#CBD962;
  --green-overlay:rgba(203, 217, 98, 0.1);
  --main-yellow:#FFCE3E;
  --main-grey:#404040;
  --light-grey:#f1efef;
  --main-orange:#F2B33D;
  --green-darker:#60691c;
  --light-grey-2:#F2F2F2;


}

@font-face {
  font-family: "Monserrat";
  src: url("assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Permanent Marker";
  src: url("assets/fonts/PermanentMarker-Regular.ttf");
}

@keyframes droppingFromTop {
  from{
    transform: translateY(-1500px);
    opacity: 0.5;
  }

  to{
    transform: translateY(0px);
    opacity: 1;
  }

}

@keyframes slideFromLeft {
  from{
    transform: translateX(-500px);
    opacity: 0.5;
  }
  to{
    transform: translateX(0px);
    opacity: 1;

  }

}

@keyframes slideFromRight {
  from{
    transform: translateX(500px);
    opacity: 0.5;
  }
  to{
    transform: translateX(0px);
    opacity: 1;

  }

}

@keyframes rotateAboutUsImg {
  from{
    transform: rotate(-100deg);
    opacity: 0.5;
  }
  to{
    transform: rotate(-3deg);
    opacity:1;

  }

}
