/* You can add global styles to this file, and also import other style files */
html,body{
  margin: 0;
  padding: 0;
  font-family: "Monserrat";
}

:root{
  --main-green:#CBD962;
  --green-overlay:rgba(203, 217, 98, 0.1);
  --main-yellow:#FFCE3E;
  --main-grey:#404040;


}

@font-face {
  font-family: "Monserrat";
  src: url("assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Permanent Marker";
  src: url("assets/fonts/PermanentMarker-Regular.ttf");
}

@keyframes expandNavbar {
  from{
    height: 0px;
  }

  to{
    height: auto;
  }

}
