<div class="new-destination-card-container" #observeElement>
  <div class="discount-wrrapper" #discount>
    <div class="card-details-wrrapper">
      <h6>Discount up to 50%</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo.
      </p>
      <button class="discover__more__btn">Discover more</button>
    </div>
    <img
      src="/assets/images/new-destination-card/mountains-city.jpg"
      alt="mountains-city.jpg"
    />
  </div>
  <div class="new-destination-wrrapper" #newDestination>
    <div class="card-details-wrrapper">
      <h6>New Destination</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi!
      </p>
      <button class="discover__more__btn">Discover more</button>
    </div>
    <img src="/assets/images/new-destination-card/sea.jpg" alt="sea.jpg" />
  </div>
</div>
